.quadro {
    margin: 2.5vh 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: #f7f7ea;
}
.quadro_apontado {
    background-color: #ffe0a6;
    transition-duration: .25s;
    transition-property: background-color;
}
.quadro_percorrido {
    background-color: #f7f7ea;
}
.linha {
    display: table-row;
}
.linha_apontada {
    background-color: #ffe0a6;
}
.linha_percorrida {
    background-color: #f7f7ea;
}
.simbolo {
    font-family: sans-serif;
    font-size: 18pt;
    box-sizing: border-box;
    text-align: center;
    display: table-cell;
    width: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    height: 10vh;
    line-height: 10vh;
    color: dimgray;
}

.simbolo_apontado {
    background-color: #ffe0a6;
}

.simbolo_pequeno {
    width: 16.66%;
}

.gesto {
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border-color: cornflowerblue;
    border-style: solid;
    outline: none;
    margin: 0 10px 10px 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: cornflowerblue;
    height: 60px;
    width: 130px;
}

.gesto:active {
    background-color: gray;
    border-color: gray;
    color: white;
}

.tela {
    font-family: sans-serif;
    overflow: hidden;
    margin: 10px 10px 80px 10px;
}

@media (max-height: 480px) {
    .simbolo {
        font-size: 10pt;
    }
}
