.quadro {
    margin: 1vh 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: #f7f7ea;
}
.quadro_apontado {
    background-color: #ffe0a6;
    transition-duration: .25s;
    transition-property: background-color;
}
.quadro_percorrido {
    background-color: #f7f7ea;
}
.linha {
    display: table-row;
}
.linha_apontada {
    background-color: #ffe0a6;
}
.linha_percorrida {
    background-color: #f7f7ea;
}
.simbolo {
    font-family: sans-serif;
    font-size: 18pt;
    box-sizing: border-box;
    text-align: center;
    display: table-cell;
    width: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    line-height: 7.83vh;
    color: dimgray;
    user-select: none;
}

.simbolo_apontado {
    background-color: #ffe0a6;
}

.simbolo_pequeno {
    width: 20%;
}

.anotacao {
    line-height: 7.83vh;
    margin: 1vh 0;
}

.tela {
    font-family: sans-serif;
    overflow: hidden;
    margin: 1vh;
    height: 100vh;
}

.apontador {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 224, 166, .3);
    border-width: 1px;
    border-style: dotted;
    border-color: orange;
    box-sizing: border-box;
}

@media (max-height: 480px) {
    .simbolo {
        font-size: 10pt;
    }
}

.simbolo_descrito {
    font-size: 7pt;
}