.tela {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.quadro {
    width: 100%;
    text-align: center;
    color: dimgray;
    margin: 0;
}
.quadro_oculto {
    display: none;
}
.linha {
    font-size: 0;
    display: flex;
}
.celula {
    margin: 1px;
    height: calc(8vh - 2px);
    line-height: calc(8vh - 2px);
    width: calc(20% - 2px);
    background-color: floralwhite;
    font-size: 4vmin;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: linen;
}
.celula_oculta {
    margin: 1px;
    height: calc(8vh - 2px);   
    width: calc(20% - 2px);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.celula_pequena {
    width: calc(16% - 2px);
}

.celula_muito-pequena {
    width: calc(13.33% - 2px);
}

.celula_descrita {
    font-size: 2.5vmin;
    line-height: normal;
    padding-top: 2vmin;
    word-break: break-word;
}
.celula_sugestao {
    line-height: normal;
    padding-top: 1vmin;
    word-break: break-word;
}
.celula_pontuacao {
    font-size: 4vmin;
}
.ponteiro {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(255, 224, 166, .3); 
    border-width: 1px;
    border-style: dotted;
    border-color: orange;
    box-sizing: border-box;
}
.anotacao {
    border-width: 1px 0;
    border-style: solid;
    border-color: lightgray;
    box-sizing: border-box;
    color: dimgray;
    padding: 5px;
    overflow: hidden;
    height: 20%;
    background-color: white;
    font-size: 4vmin;
}
.anotacao__texto {
    word-wrap: break-word;
    white-space: pre-wrap;
}
.anotacao__texto_cursor {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: dimgray;
}
.tela__aplicativo {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.tela__inicio {
    width: 100vw;
    height: 100vh;
    color: dimgray;
    font-family: monospace;
    text-align: center;
    background-color: beige;
}
.tela__botao {
    background-color: cornflowerblue;
    color: white;
    font-size: 12pt;
    transform: rotate(-20deg) translate(11px, 11px);
    width: 138px;
    height: 50px;
    outline: none;
    border-radius: 0;
}
.tela__botao_continuar {
    display: none;
}
.tela__conteudo-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.tela__titulo {
    transform: rotate(-20deg) translate(-35px, -95px);
    color: white;
    white-space: nowrap;
}
.tela__conteudo-inicio::before {
    content: '';
    transform: rotate(-20deg) translate(-430px, -450px);
    position: absolute;
    z-index: -1;
    background-image: url('keyboard.png');
    background-repeat: no-repeat;
    width: 640px;
    height: 627px;
}
.placa {
    height: 80%;
    background-color: floralwhite;
}
.video {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.quadros-letras {
    height: 48vh;
}
.sugestoes {
    height: 16vh;
}